.title {
    text-align: center;
}

.navbar-dropdown {
    text-align: center;
    font-size: 20px;
}

.navbar {
    background-color: #fbeec1;
}

#navbarBasic {
    background-color: #fbeec1;
}

.navbar-info {
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

body{
    margin-left: 75px;
    margin-right: 75px;
    padding: 20px;
    background-color: #659dbd;
}

html {
    background-color: #bc986a;
}

nav {
    margin-left: -50px;
    margin-right: -50px;
}

.goToTopBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #8d8741;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.card {
    margin: 15px;
    background-color: #fbeec1;
}

#header {
    font-family: 'Bungee Shade', cursive; 
    font-size: 40px;
    text-align: center;
    color: black;
}

h3 {
    font-family: 'Bungee Shade', cursive; 
    font-size: 30px;
    color: black;
}

#happy {
    font-family: 'Bungee Shade', cursive; 
    font-size: 25px;
    text-align: center;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

.footer {
    background-color: #fbeec1;
}
